@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bodyColor text-headingColor font-jakarta;
  }
}

@layer components {
  .social li a svg path {
    @apply duration-200 ease-in-out;
  }
  .social li a:hover svg path {
    fill: #081409;
  }
  .footer-menu a {
    @apply duration-200 ease-in-out hover:opacity-70;
  }
  [data-aos="fade-up"] {
    transform: translate3d(0, 20px, 0);
  }
  [data-aos=zoom-in] {
    transform: scale(.9);
}
}
